# Student Matcher

In [9]:
%store -r columns_encoded
%store -r columns_encoded
%store -r columns
%store -r data
%store -r data_encoded
%store -r pseudonym_df

columns_encoded = columns_encoded
columns = columns
data = data
data_encoded = data_encoded

pseudonym_df = pseudonym_df

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# 1 Ähnlichkeitsberechnung

In [88]:
pseudonym_df

0         lalala-lololo
1                 hbstr
2                 Panda
3     TomTom Navigation
4               LcAbrgr
            ...
57     Stempelliebhaber
58                  Fel
59               PaBe28
60              oretani
61             D1C2D327
Name: Bitte gib hier ein Pseudonym ein und merke dir dieses (z.B. Kürzel, Zahlencode, etc.). Damit können nach Abschluss des Projektes der eigene "Datenpunkt" gefunden werden. Das Pseudonym wird für Andere sichtbar sein., Length: 62, dtype: object

## TODO: Funktion implementieren

In [33]:
def survey_similarity(person1, person2):
    return 1

Die Funktion berechnet für jede Kombination von Datenpunkten (die anhand ihrer Pseudonyme identifiziert werden) einen "Ähnlichkeitswert", indem für jedes Paar die Ähnlichkeitsberechnung durchgeführt wird. Um die Berechnung performanter zu machen, wird hierbei überprüft, ob bereits für das zugehörige Paar in umgekehrter Reihenfolge ein Wert berechnet wurde. Falls dem so ist, wird der Wert übernommen, da die Ähnlichkeitsberechnung symmetrisch ist und die Ähnlichkeit von Person1 zu Person2 genauso groß ist wie von Person2 zu Person1.

Die berechneten Ähnlichkeitswerte werden in einem (neuen) DataFrame gespeichert.

In [86]:
def compute_similarities(data):
    similarities = pd.DataFrame(columns=["person1", "person2", "similarity"])
    for i in range(0, len(data)-1):
        for j in range(0, len(data)-1):
            pseudo_p1 = pseudonym_df.iloc[i]
            pseudo_p2 = pseudonym_df.iloc[j]

            # Mask checks whether there is already a computed value for the given pair, but in a swapped order
            mask_p2_p1 = (similarities.person1 == pseudo_p2) & (similarities.person2 == pseudo_p1)
            if len(similarities[mask_p2_p1]) > 0:
                # As the order of the given pair does not has an impact on the computation, the value can be replaced directly by the corresponding pair in the swapped order
                similarity_p1_p2 = similarities[mask_p2_p1].iloc[0]["similarity"]
            else:
                similarity_p1_p2 = survey_similarity(data.iloc[i], data.iloc[j])

            similarities.loc[len(similarities)] = [pseudo_p1, pseudo_p2, similarity_p1_p2]

    return similarities

In [96]:
df_similarities = compute_similarities(data_encoded)

In [97]:
df_similarities = df_similarities.sort_values("similarity", ascending=False)
df_similarities

            person1        person2  similarity
0     lalala-lololo  lalala-lololo           1
2485           hmmh           asdf           1
2473           hmmh         6VGOD2           1
2474           hmmh           mava           1
2475           hmmh           KaHo           1
...             ...            ...         ...
1245           FB42        nomercy           1
1246           FB42        agalper           1
1247           FB42         ac1306           1
1248           FB42          brnlq           1
3720        oretani        oretani           1

[3721 rows x 3 columns]

# 2. Netzwerk-Analyse

# 3. Student Matcher Anwendung

In [102]:
def student_matcher(pseudonym):
    mask_pseudo = df_similarities.person1 == pseudonym
    if len(df_similarities[mask_pseudo]) <= 0:
        print("Für das übergebene Pseudonym wurde leider kein passender Datenpunkt gefunden.")
        return
    
    df_matches = df_similarities[mask_pseudo].sort_values("similarity", ascending=False)
    print("Für die gesuchte Personen wurden die folgenden Personen gefunden, die zu ihr passen könnten:\n")
    print(df_matches.iloc[:4]["person2"])

In [103]:
student_matcher("lalala-lololo")

Für die gesuchte Personen wurden die folgenden Personen gefunden, die zu ihr passen könnten:

0         lalala-lololo
27               ac1306
3     TomTom Navigation
4               LcAbrgr
Name: person2, dtype: object